

{{!-- <!DOCTYPE html>
<html lang="en">
{{!-- this is the main.handlebars file --}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
 
<body>
    <div class="wrapper">
        <a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>
{{log posts}}





{{#each posts }}
<div class=" home-div">
    <h1 class="blog-title">{{this.title}}</h1>
    <div class="time-name-div">
    <p>Posted By: {{this.user.name}}</p>
    <p>{{this.created_at}}</p>
    </div>
    <p>{{this.post_text}}</p>

</div>
{{/each}}


</body> --}}

{{!-- </html> --}}






